img.responsive-img.poster{
 max-width:100%;
max-height:100%;
}

tbody.image {
 
}

.dynamic {

}

.footer {
  background-color: #000;
  color: white;
}

.navwrapper{
  padding-right: 20px;
}

span.card-title{
  display: block;
}

#next-arrow{
  text-align: right;
}

.tv-plot{
  text-overflow: ellipsis;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main{
    flex: 1 0 auto;
  }



.tv-plot, .release-date{
  font-size: 16px;
  text-align: left;
  padding-left: 5px;
}

p.card-title{
  display: inline;
}

p.card-plot{
  display: inline;
}
