img.responsive-img.poster{
 max-width:100%;
max-height:100%;
}

tbody.image {
 
}

.dynamic {

}

.footer {
  background-color: #000;
  color: white;
}

.navwrapper{
  padding-right: 20px;
}

span.card-title{
  display: block;
}

#next-arrow{
  text-align: right;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main{
    flex: 1 0 auto;
  }

#next-btn{
  padding-right: 50px;
}
